<p-dialog header="Client details" [modal]="true" [(visible)]="clientDetailsVisible" [style]="{ width: '50%' }">
  <form [formGroup]="editClientForm">
    <div class="flex items-center mb-3">
      <label for="displayName" class="font-semibold w-24">Display Name</label>
      <input pInputText id="displayName" class="flex-auto" formControlName="displayName"/>
    </div>
    @if (editClientForm.get('displayName')?.invalid && (editClientForm.get('displayName')?.touched)) {
      <div class="ml-24 mb-3">
        <p-message
          severity="error"
          size="small"
          variant="simple"
        >
          Display Name is required.
        </p-message>
      </div>
    }

    <div class="flex items-center mb-3">
      <label for="active" class="font-semibold w-24">Active</label>
      <p-checkbox inputId="active" formControlName="active" binary="true"></p-checkbox>
    </div>
    <div class="flex items-center mb-3">
      <label for="location" class="font-semibold w-24">Location</label>
      <input pInputText id="location" class="flex-auto" formControlName="location"/>
    </div>
    <div class="flex items-center mb-3">
      <label for="details" class="font-semibold w-24">Details</label>
      <textarea pInputTextarea id="details" class="flex-auto" formControlName="details" rows="5" cols="30"></textarea>
    </div>
  </form>
  <div class="flex justify-between gap-2 mt-4">
    <p-button label="Close details" severity="secondary" (click)="clientDetailsVisible.set(false)"
              data-testid="CLOSE_DETAILS_BUTTON"/>
    <div class="flex gap-2">
      <p-confirmpopup #cp>
        <ng-template #headless let-message>
          <div class="rounded p-4">
            <span>{{ message.message }}</span>
            <div class="flex items-center gap-2 mt-4">
              <p-button (onClick)="cp.onAccept()" label="Yes" size="small" severity="danger"/>
              <p-button (onClick)="cp.onReject()" label="Cancel" size="small" severity="secondary"/>
            </div>
          </div>
        </ng-template>
      </p-confirmpopup>
      <p-button
        data-testid="DELETE_CLIENT_BUTTON"
        label="Delete"
        severity="danger"
        (click)="deleteClient($event)"
        icon="pi pi-trash"
      />
      <p-button
        data-testid="EDIT_CLIENT_BUTTON"
        severity="success"
        label="Save client"
        icon="pi pi-save"
        (click)="saveClient()"
      />
    </div>
  </div>
</p-dialog>
